
#ejemplo-1{
    display: grid;
    justify-content: center;
    align-items: center;
}

#ejemplo-1 section{
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#ejemplo-1 section h2{
    color: #333;
    font-size: 1.5em;
    margin: 0;
}