  <!-- <div>
    <h1>Ruta para Componente Ejemplo1</h1>
    <a [routerLink]="['/ejemplo-1']" routerLinkActive="router-link-active" >Ejemplo1</a>
  </div> -->

  <div class="componentes"> 

    <h2>1</h2>
    <autocomplete-simple-example></autocomplete-simple-example>

    <h2>2</h2>
    <badge-overview-example></badge-overview-example>
  
    <h2>3</h2>
    <bottom-sheet-overview-example></bottom-sheet-overview-example>
  
    <h2>4</h2>
    <button-overview-example></button-overview-example>

    <h2>5</h2>
    <button-toggle-appearance-example></button-toggle-appearance-example>

    <h2>6</h2>
    <card-overview-example></card-overview-example>

    <h2>7</h2>
    <checkbox-overview-example></checkbox-overview-example>

    <h2>8</h2>
    <chips-stacked-example></chips-stacked-example>

    <h2>9</h2>
    <datepicker-inline-calendar-example></datepicker-inline-calendar-example>

    <h2>10</h2>
    <dialog-overview-example></dialog-overview-example>

    <h2>11</h2>
    <divider-overview-example></divider-overview-example>

    <h2>12</h2>
    <expansion-overview-example></expansion-overview-example>
  </div>

